---
search: false
---


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

// 사용자 정의 스타일
.page__content {
  font-size: 0.77rem;
  line-height: 1.5;
}

.page__content h1 {
  font-size: 1.0rem;
}
.page__content h2 {
  font-size: 0.9rem;
}
.page__content h3 {
  font-size: 0.8rem;
}

/* 모바일에서 greedy-nav의 메뉴 항목 감추고 햄버거만 보이게 */
@media screen and (max-width: 768px) {
  .greedy-nav .visible-links {
    display: none !important;  // 메뉴 항목 숨김
  }

  .greedy-nav .hidden-links {
    display: block !important; // 햄버거 드롭다운은 보이게
  }

  .greedy-nav .menu-toggle {
    display: block !important;
  }
}

