---
search: false
---
@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

// 사용자 정의 스타일
.page__content {
  font-size: 0.77rem;
  line-height: 1.5;
}

.page__content h1 {
  font-size: 1.0rem;
}
.page__content h2 {
  font-size: 0.9rem;
}
.page__content h3 {
  font-size: 0.8rem;
}


